.App {
  height: 100% !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.collapseText {
  font-size: 16px !important;
  font-weight: 600 !important;
}
.blueText {
  color: #009ddd;
}

.custom-header {
  background-color: rgba(230, 245, 252, 0.5) !important;
  border-bottom: 1px solid rgba(179, 226, 245, 1) !important;
  color: rgba(102, 102, 102, 1) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}
.ant-table-tbody > tr:last-child > td {
  border-bottom: none !important;
}
.ant-table-tbody > td {
  font-size: 12px !important;
}
.responsiveWidth {
  width: 811px;
}

@media (max-width: 999px) {
  .responsiveWidth {
    width: 95%;
  }
}
